<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
</head>
<body>
    <nav class="bg-success d-flex justify-content-between align-items-center mb-3" >
        <h1 class="text-light">LOGO</h1>

        <div class="d-flex gap-3">
            <a href="" class="text-light">About</a>

            <a href="" class="text-light">Contact Us</a>

            <a href="" class="text-light">Settings</a>
        </div>


        <div>
            <div class="btn btn-light text-success"> Sign in</div>
            <div class="btn btn-danger text-light">Logout</div>
        </div>
    </nav>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
</body>
</html>