<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <%= gender %>
     <% if (gender == 'male') { %>
    <h1>I am a male on this page</h1>
    <% }else { %>

    <h1>I am a female on this page</h1>
    <% } %>
  </body>
</html>
